<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Postagens</title>
</head>
<body style="background-image: linear-gradient(180deg, #a6ffff 0, #a2edff 25%, #9dd5f2 50%, #96bed5 75%, #8ea8b9 100%);">
<nav class="navbar bg-primary" data-bs-theme="dark">
  <h1>Receba</h1>
</nav>
    <div class="container">
    {{{body}}}
    </div>
</body>
</html>